.product-description {
    white-space: normal;
    font-size: 0.8em;
}

c-input-select.discount-select {
    display: inline-block;
    width: 6.35rem;
}

input.input-cash {
    height: 3.6rem;
    width: 7.2rem;
    border: 1px solid rgb(221, 219, 218);
    border-radius: .25rem;
}

article.slds-card {
    min-width: 51rem;
}