.THIS {
    font-size: 1.2em;
}
.THIS .slds-modal__close {
    width: 4em;
    height: 4em;
    top: -4.5em;
    right: 0;
}
.THIS .slds-modal__container {
    height: 100%;
}
.THIS .slds-modal__content {
    height: 66%;
}